html {
	font-size: 16px;
}

body {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
    font-size: 1em;
}

.container{
	/*max-width: 1200px;*/
	margin: 0 auto;
	max-width: 1200px;
	width: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: wrap;
}

h1,
h2,
h3 {
	color: black;
	text-transform: uppercase;
	font-weight: 700;
}
h1 {
	font-size: 1.875em;
}
h2 {
	font-size: 1.125em;
}
h3 {
	font-size: .75em;
}

p {
	font-size: .875px;
	line-height: 1.3em;
    padding: 0 30px;
}

/*************  header *****The widths are in a percentage!*/
header {
	height: auto;
	width: 100%;
	border-bottom: 3px solid #77a466;
	margin: 0 auto;
	display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
}

header h1 {
	/*float: left;*/
	margin: 0;
	padding: 10px;
    border-bottom: 3px solid #77a466;
    width: 100%;
}

header h1 span {
	color: #77a466;
}

header nav {
	/*float: right;*/
	/*padding: 46px 0;*/
}
header nav ul {
	margin: 0;
	padding: 10px;
	list-style: none;
}

header nav ul li {
	text-transform: uppercase;
	font-weight: 700;
	font-size: .875em;
	padding: 10px;
	/*display: inline;*/
}
header nav ul li a{
	text-decoration: none;
	color:#77a466;
}

/*The widths are in a percentage!*/
/************flex for top and bottom sections ****/
.top-section,
.bottom-section {
	/*margin: 0 auto;*/
	/*clear: both;*/
	display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
    height: auto;
 }

/********************top section****image and welcome****/ 
.main-image {
	height: auto;
	/*float: left;*/
}
.main-image img {
	width: 100%;
	border-bottom: 3px solid #77a466;
}

.main-title {
	height: auto;
	/*float: left;*/
}
.main-title h2 {
	text-align: left;
	padding: 5px 0;
	color: #77a466;
}
.main-title p {
	padding: 0;
	font-size: 1em;
	line-height: 1.5em;
}

/*******************************bottom section with 3 sections**********/
 .bottom-section {
 }

.section-one,
.section-two,
.section-three {
	/*width: 33%; commented this so section-2 would be full width*/
	height: auto;
	min-width: 275px;
	border-top: 1px solid #7F7E7E;
	width: 100%;
}

.section-one h3 {
	padding: 10px 0;
}
.section-one {
	padding-left: 28px;
	/*put this padding to get it to aline with other sections*/
}

.section-two h3,
.section-three h3 {
	padding: 10px 30px;
}
.section-three {
	align-self: flex-start;
	justify-content:flex-start;
}

.menu {
	list-style: none;
	padding: 0;
}
.menu li {
	padding: 10px 0;
	color:#77a466;
}

.reviews {
	color: #333;
	font-size: 1em;
	line-height: 1.3em;
}

.address {
	font-size: 1em;
	line-height: 1.5em;
}

/*The widths are in a percentage!*/
footer {
	height: auto;
	border-top: 3px solid #7F7E7E;
	margin: 0 auto;
	/*clear: both;*/
	text-align: center;
	display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
}
footer span {
	font-family: 'Galada', cursive;
	text-transform: lowercase;
	color: #77a466;
	font-size: .875em;
}

/******************media sizes********************/

@media all and (min-width: 768px) {
	/* tablet styles here*/
	header {
	  /*justify-content: center;*/
}
	header h1 {
      width: 100%;
      /*justify-content: center;heading soesn't center*/
	}
	header nav ul li {
	  display: block;
	}
	.bottom-section {
		/*not sure what I am missing here*/
	}

	.section-one,
	.section-two,
    .section-three {
	   /*width: 33%; commented this so section-2 would be full width*/
	   height: auto;
	   width: 30%;
	   min-width: 0px;
	   align-self: flex-start;
    }


	.section-two {
		border-left: 1px solid #7F7E7E;
		border-right: 1px solid #7F7E7E;
	}
    .reviews {
    	font-size: .875em;
    }

}

@media all and (min-width: 1200px) {
	/* desktop styles here*/
	header nav ul li {
	  display: inline;
    }

    header {
      justify-content:space-between;
      	/*border-bottom: 3px solid #77a466; not needed already up top line 52*/
    }

    nav {
       /* messed up the formatting*/
    }

	header h1 {
	   width: auto;
	   border: none;
	}

	.section-two {
		border-left: 1px solid #7F7E7E;
		border-right: 1px solid #7F7E7E;
	}
}